
.cube {
    transform-style: preserve-3d;
    position: relative;
    width: 450px;
    height: 450px;
}

.side {
    position: absolute;
    width: 450px;
    height: 450px;
}

.front.side {
    background-color:orange;
    transform: translateZ(250px);
}

.back.side {
    background-color:red;
    transform: translateZ(-250px);
}

.right.side {
    background-color: aqua;
    transform: translateX(250px) rotateY(90deg);
}

.left.side {
    background-color: black;
    transform: translateX(-250px) rotateY(-90deg);
}

.top.side {
    background-color: blue;
    transform: translateY(-250px) rotateX(90deg);
}

.bottom.side {
    background-color: bisque;
    transform: translateY(250px) rotateX(-90deg);
}

@keyframes rotate-cube {
    0% {transform: rotateX(45deg) rotateY(45deg);}
    25% {transform: rotateX(-45deg) rotateY(45deg);}
    50% {transform: rotateX(-45deg) rotateY(-45deg);}
    75% {transform: rotateX(45deg) rotateY(-45deg);}
    100% {transform: rotateX(45deg) rotateY(45deg);}
}

.container {
    margin: 0 auto;
    margin-top: 10%;
    animation: rotate-cube 20s infinite linear;
}

